.artist-card {
  font-family: "Lato", sans-serif;
  width: 225px;
  height: 282px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5px;

    .artist-name {
      font-weight: 600;
    }

    .artist-views {
      color: rgba(255, 255, 255, 0.7);
    }

    p {
      margin: 0;
    }
  }

  .artits-image {
    width: 130%;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(35% at 50% 50%);
  }
}

.artist-card:hover {
  cursor: pointer;
}
